html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1faee;
}
.w-auto {
  width: auto;
}
.red {
  background-color: #e63946;
  border: none;
}
.navbar {
  outline: #a1858b;
  outline-style: groove;
  height: 100px;
}
/*.color:hover {
  background-color: #b49da2;
  border: none;
}*/
.title {
  color: #1d3557;
  text-decoration: none;
}
.title:hover {
  color: beige;
  text-decoration: none;
}
